<% unless params.empty? %>
  <%= params[:error] %>
<% end %>

<h3><%= @recipe.recipe_name %></h3>

<form action='/recipes/<%=@recipe.id%>' method='POST'>
  <label>Recipe Name: </label><br><input type='text' value="<%=@recipe.recipe_name%>" name='name'><br>
  <%@recipe.ingredients.each do |i|%>
    <%=i.ingredient_name%><input checked="unchecked" type='checkbox' name="ingredient[<%=i.ingredient_name%>]">
  <%end%><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient1]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient2]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient3]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient4]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient5]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient6]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient7]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient8]"><br>
  <input type="submit" value="submit">
</form>