<% unless params.empty? %>
  <%= params[:error] %>
<% end %>

<h1>Welcome, <%=@user.username%></h1>
<h3>Click recipe to see details</h3>
<%@recipes.each do |recipe|%>
  <a href='/recipes/<%=recipe.id%>'><%=recipe.recipe_name%></a> submitted by: <%=recipe.user.username%><br>
<%end%><br>
<a href="/users/<%=@user.slug%>">Show my recipes</a><br>
<a href="/recipes/new">Add new recipe</a><br>
<a href="/users/logout">Log Out</a>