<h1>Welcome, <%=@user.username%> ID: <%=@user.id%></h1>
<h1>All Recipes</h1>
<%@recipes.each do |recipe|%>
  <a href='/recipes/<%=recipe.id%>'><%=recipe.recipe_name%></a> submitted by: <%=User.find(recipe.user_id).username%><br>
<%end%><br>
<a href="/users/<%=@user.slug%>">Show my recipes</a><br>
<a href="/recipes/new">Add new recipe</a><br>
<a href="/users/logout">Log Out</a>